<main class="main-home">
    <menu class="home-menu">
        <a href="/card/buy" data-link class="home-menu-button">
            <div class="home-menu-item">
                <ion-icon name="cart-outline" class="home-menu-icon"></ion-icon>
                <span>Acheter des cartes</span> 
            </div>
        </a>
        <a href="/card/sell" data-link class="home-menu-button">
            <div class="home-menu-item">
                <ion-icon name="cash-outline" class="home-menu-icon"></ion-icon>
                <span>Vendre des cartes</span>
            </div>
        </a>
        <a href="/game/room" data-link class="home-menu-button">
            <div class="home-menu-item">
                <ion-icon name="game-controller-outline" class="home-menu-icon"></ion-icon>
                <span>Jouer</span>
            </div>
        </a>
    </menu>
</main>

