<main class="main-auth">
    <form class="form" id="form-register">
        <h1 class="form-title">Inscription</h1>
        <div class="form-status" id="form-status">
            <p class="form-status-message" id="form-status-message">Error Message</p>
        </div>
        <div class="form-item-container register">
            <div class="form-item">
                <label for="username">Nom</label>
                <input type="text" name="username" id="username" placeholder="Entrer votre nom d'utilisateur">
            </div>
            <div class="form-item">
                <label for="userpassword">Mot de passe</label>
                <input type="password" name="userpassword" id="userpassword" placeholder="Entrer votre mot de passe">
            </div>
            <div class="form-item">
                <label for="userrepassword">Confirmation du mot de passe</label>
                <input type="password" name="userrepassword" id="userrepassword" placeholder="Entrer votre mot de passe à nouveau">
            </div>
        </div>
        <button class="form-button register">S'inscrire</button>
        <a href="/login" data-link class="link-to login">Vous avez déjà un compte ? Cliquez ici !</a>

    </form>

</main>
