/* --------------- HOME --------------- */
.main-home{
    height: calc(100vh - var(--navHeight));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem; 
}
.home-menu{
    width: 50rem;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2.4rem; 
}
.home-menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.2rem;
    padding: 1em;
    background-color: var(--buttonColor);
    box-shadow: var(--niceShadow);
}
.home-menu-item:hover, .home-menu-item:focus{background-color: var(--buttonColor);}
.home-menu-button{
    text-align: center;
    font-weight: 600;
    font-size: 2.8rem;
}
.home-menu-icon{
    font-size: 3.2rem;
}

/* --------------- displayCards --------------- */
.main-displayCards{padding: 5rem 2.5rem;}
/* displayCards TITLE */
.displayCards-title-container{
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    margin-bottom: 3rem;
    align-items: center;
}
.displayCards-title{
    letter-spacing: -0.8px;
    font-size: 3.6rem;
}
.displayCards-title-icon{font-size: 3.2rem;}
/* displayCards MESSAGE */
.displayCards-message-container{
    width: 50%;
    margin: 0 auto;
    display: none;
    background-color: var(--okColor);
    padding: 1em;
    margin-bottom: 3rem;
}
.displayCards-message-container.active{display: block;}
.displayCards-message-container.active.error{background-color: var(--errorColor);}
.displayCards-message-container p{
    font-weight: 600;
    text-align: center;
}
/* displayCards GRID */
.displayCards-grid{
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}
/* displayCards TABLE */


.displayCards-table{
   
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 100%;
    grid-auto-rows: 7rem;
}

.displayCards-table .cell {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.317);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textDefaultColor);
    padding: 1em;

}

.displayCards-table .cell.header{

    color: white;
    font-weight: 500;
    background-color: var(--buttonColor);

}
/* .displayCards-table th,.displayCards-table td{
    padding: 2rem;
    text-align: left;
    flex: 1;
}
.displayCards-table thead th{
    font-weight: 500;
    color: #f8f9fa;
}
.displayCards-table thead tr{
    position: absolute;
    top: 0;
    width: 100%;
}
.displayCards-table tbody{color: #e9ecef;}
.displayCards-table tbody tr:nth-child(2n){background-color: rgba(3, 5, 94, 0.1);}
.displayCards-table tbody tr td:last-child{
    display: flex;
    justify-content: center;
} */
.displayCards-table-button{
    background-color: var(--buttonColor);
    color: white;
    padding: 0.8rem;
}

/* displayCards CARD SELECTION */
.displayCards-card-info-pricing{margin-bottom: 3rem;}
.displayCards-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.displayCards-card-price{
    font-size: 1.8rem;
    font-weight: 500;
}

.displayCards-card-price.not-active{
    display: none;
}
.displayCards-button{
    background-color: #0096c7;
    font-weight: 600;
    color: white;
}
.displayCards-card-selected{
    border-radius: 8px;
    margin: 0 auto;
    width: 30rem;
    background-color: #0096c7;
    box-shadow: var(--niceShadow);
}
.displayCards-card-title{
    text-align: center;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.8rem;
}
.displayCards-card-img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.displayCards-card-characteristics{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.2rem;
}

.displayCards-card-characteristic{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}
.displayCards-card-characteristic-icon{font-size: 1.6rem;}
.displayCards-card-description{
    padding: 0 3rem;
    padding-bottom: 3rem;
}

/* --------------- ROOMS --------------- */
.main-room{padding: 5rem 2.5rem;}
/* ROOM TITLE */
.room-title-container{
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    margin-bottom: 3rem;
    align-items: center;
}
.room-title{
    letter-spacing: -0.8px;
    font-size: 3.6rem;
}
.room-title-icon{font-size: 3.2rem;}
/* ROOM CREATION */
.room-creation{}
/* ROOM CREATION MESSAGE */
.room-creation-message-container{
    display: none;
}
.room-creation-message-container.active.error{
    display: none;
    background-color: var(--errorColor);
    padding: 1em;
    color: white;
}
.room-creation-message{}
.room-creation-message.active{display: block;}
.room-creation-message.active.error{background-color: var(--errorColor);}

/* ROOM SELECTION TABLE */

/* room GRID */
.room-grid{
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
/* room TABLE */


.room-table{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    grid-auto-rows: 7rem;
}

.room-table .cell {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.317);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textDefaultColor);
    padding: 1em;

}

.room-table .cell.header{

    color: white;
    font-weight: 500;
    background-color: var(--buttonColor);

}

.room-table-button{
    background-color: var(--buttonColor);
    color: white;
    padding: 0.8rem;
}

/* ROOM CREATION FORM */
.room-creation-form-title{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.6rem;
    font-weight: 700;
}
.room-creation-form{
    background-color: rgba(255, 255, 255, 0.317);
    padding: 5rem;
}
.room-creation-form-item-container{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 4rem;
}
.room-creation-form-item{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.room-creation-form-item label{

    font-weight: 600;

}
.room-creation-form-item input{background-color: rgba(255, 255, 255, 0.5);}
.room-creation-form-item input:focus{background-color: rgba(255, 255, 255, 0.6);}
.room-creation-form-item input[type="text"], .room-creation-form-item input[type="number"]{
    padding: 0.5em;
    border-radius: 5px;
}
.room-creation-button-sumbit{
    background-color: var(--buttonColor);
    display: block;
    color: white;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
}
/* WAITING ROOM */
.main-waitingRoom{height: calc(100vh - var(--navHeight)); padding: 5rem 2.5rem; display: flex; justify-content: center; align-items: center;}
.waitingRoom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}
.waitingRoom-container h1 {font-size: 3.2rem;}
.waitingRoom-icon{font-size: 4.8rem;}






/* --------------- GAME --------------- */

/* GAME TITLE */
.main-game{padding: 5rem 2.5rem;}
.game-title-container{
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    margin-bottom: 3rem;
    align-items: center;
}
.game-title-icon{font-size: 3.2rem;}
.game-title{
    letter-spacing: -0.8px;
    font-size: 3.6rem;
}

/* GAME GRID */
.game-grid{
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
/* PLAYERS NAME */
.game-players-name{
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.game-player-name{

}

/* SELECTED CARDS */
.game-card-selection{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.game-card-selected{
    border-radius: 8px;
    margin: 0 auto;
    width: 30rem;
    background-color: #0096c7;
    box-shadow: var(--niceShadow);
}
.game-card-title{
    text-align: center;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.8rem;
}
.game-card-img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.game-card-characteristics{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.2rem;
}
.game-card-characteristic{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}
.game-card-characteristic-icon{font-size: 1.6rem;}
.game-card-description{
    padding: 0 3rem;
    padding-bottom: 3rem;
}

/* GAME COMMENT */
.game-comment-container{}
.game-comment{}



/* GAME RESULT */
.main-gameResult{height: calc(100vh - var(--navHeight)); padding: 5rem 2.5rem; display: flex; justify-content: center; align-items: center}
.gameResult-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;}
.gameResult-money{}
.gameResult-card{}



/* --------------- MEDIA QUERIES --------------- */
/* @media  screen and (max-width: 1200px) {
    
} */